body {
  background-color: white;
}

.container {
  background-color: white;
  margin: 40px;
  padding: 30px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 10px;
  height: 40px;
  background-color: #f7c1ca;
  text-align: center;
  color: rgb(149, 135, 135);
  z-index: 999;
}

.topheader {
  margin-top: 40px;
}